@page "{categoryId:int?}"
@model WebShopCatalogApplication.Pages.IndexModel

@{
    ViewData["Title"] = "Home page";
}

<style>
    table, tr, td {
        border: none !important;
    }

    img {
        max-width: 150px !important;
        max-height: 150px !important;
    }
</style>

<div class="text-center">
    @if (Model.Category == null)
    {
        <p>Something went wrong</p>
    }
    else
    {
       <p>@Model.Category.Name</p>
       <ul>
        @foreach(var child in Model.Category.ChildCategories)
        {
            <li><a asp-page="Index" asp-route-categoryId="@child.Id">@child.Name</a></li>            
        }
        @foreach(var item in Model.Category.Items)
        {
            <div>
                <table border="0">
                    <tr>
                        <td width="200"><img src="@item.ImageUrl"/></td>
                        <td width="300">@item.Name</td>
                        <td width="100">@item.Price руб.</td>
                    </tr>
                </table>
            </div>
        }
        </ul>
    }
    
</div>