@page "{id:int?}"
@model WebShopCatalogApplication.Pages.IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (Model.Category == null)
    {
        <p>Something went wrong</p>
    }
    else
    {
       <p>@Model.Category.Name</p>
       <ul>
        @foreach(var child in Model.Category.ChildCategories)
        {
            <li><a asp-page="Index" asp-route-id="@child.Id">@child.Name</a></li>            
        }
        @foreach(var item in Model.Category.Items)
        {
            <div>
                <table>
                    <tr>
                        <td><img src="@item.ImageUrl" height="200" /></td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                    </tr>
                </table>
            </div>
        }
        </ul>
    }
    
</div>